.Cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  .Card {
    width: 304px;
    height: 378px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px  #dedede;
    margin-top: 25px;
    img {
      width: 100%;
      height: 200px;
      margin-top: 13px;
    }
    .Prop {
        width: 85%;
        margin: auto;
      .Title {
        margin-top: 10px;
        font-size: 20px;
      }
      .Desc {
        font-size: medium;
      }
      .Bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        align-items: center;
        .Price{
            font-size: 20px;
            margin-top: 0;
            span{
                font-weight: normal;
            }
        }
        .Add{
            background-color: #51267d;
            border: none;
            color: #fff;
            font-size: .825rem;
            border-radius: 1.25rem;
            width: 105px;
            height: 40px;
            margin-bottom: 10px;
        }
      }
    }
  }
}
.DescUndefined{
  width: 100%;
  height: 30px;
}